body{
    font-family: 'Lato', sans-serif;
    background-color: black;
}

header {
    background-color: green;
    margin: 20px;
    border: rgba(216, 33, 33, 0.836);
    border-radius: 3px;
    border-style: solid;
}

.logo, .beginNow, h3{
    text-align: center;
    color: rgba(216, 33, 33, 0.836);
    font-size: 50pt;
    font-family: 'Shadows Into Light', cursive;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: stretch;  
}
a{
    text-decoration: none;
}

a:hover, #hover:hover {
    -webkit-box-shadow: 10px 13px 15px 0px #FF2434; 
box-shadow: 10px 13px 15px 0px #FF2434;
}
.active{
    list-style: none;
    color: rgba(216, 33, 33, 0.836);
    font-size: 40pt;
    display: flex;
    margin: 24px;
    font-weight: bolder;
    font-family: 'Shadows Into Light', cursive
}

.begin{
    list-style: none;
    color: black;
    font-size: 40pt;
    display: flex;
    margin: 20px;
    font-family: 'Shadows Into Light', cursive
}

.origin, .meetTeam{
    border: rgba(216, 33, 33, 0.836);
    border-style: solid;
    border-radius: 10px;
    padding: 40px;
    margin-top: 40px;
    background-color: green;
    margin-left: 20px;
    margin-right: 20px;
}
.meetTeam{
    margin-bottom: 40px;
}
.originBody{
    font-size: 18pt;
}

.originBody, .meetTeamOpen {
    text-align: center;
}
#welcome, #meetUs{
    font-family:'Shadows Into Light', cursive;
    font-size: 40pt;
    font-weight: bolder;
}
h3{
    font-style: italic;
    color: rgba(216, 33, 33, 0.836);
}

img{
    border-radius: 10px;
    height: 50rem;
    width: 35rem;
}

.linkedIn{
    text-decoration: none;
}

.profile{
    border:  rgba(216, 33, 33, 0.836);
    border-radius: 3px;
    border-style: solid;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20pt;


}

#accordion section p {
    display: none;
    text-align: center;
    font-size: 15pt;
}

#accordion section img { 
    display: none;
    align-items: center;
    margin-left: 30%;
}

#accordion section a {
    text-align:center;
    color:black;
    text-decoration: none;
}

#accordion section:hover {
    -webkit-box-shadow: 10px 13px 15px 0px #FF2434; 
    box-shadow: 10px 13px 15px 0px #FF2434;
}
#accordion section:target img{
    display: block;
    align-items: center;
}
#accordion section:target p {
    display: block;
    text-align: center;
}