<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moldy Melons</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=css/styles.css>

    <!-- CODE FOR WATERMELON ICON -->
    <link rel="shortcut icon" type="image/x-icon" href="imgs/favicon.ico?v=2" />
    <link rel="apple-touch-icon" sizes="180x180" href="imgs/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="imgs/favicon-16x16.png">
    <!-- END CODE FOR WATERMELON ICON -->
</head>
<body>
    <header>
        <!-- navigation -->
        <nav>
                <!-- logo -->
                <div class="logo">
                    <img src="imgs/logo.png" alt="Moldy Melons" />
                </div>
                <!-- menu -->
                <ul>
                    <!-- working links direct you to corresponding part of page -->
                    <li><a href="/home" class="active">Movies</a></li>
                    <!-- login and sign up  -->
                    {{#if user.email}}
                    <li><a href="reviews.html" class="begin">Add Reviews</a></li>
                    <li><a href="movies.html" class="begin">Add Movies</a></li>
                    <li><a href="logout.html" class="begin">Log Out</a></li>
                    {{else}}
                    <li><a href="login.html" class="begin">Login</a></li>
                    <li><a href="signup.html" class="begin">Sign Up</a></li>
                    {{/if}}
                </ul>
        </nav>
</header>
{{{body}}}
{{!-- add js for the whole app --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>