body{
    font-family: 'Hammersmith One', sans-serif;
    background-color: black;
}

header {
    background-color: white;
    margin: 20px;
    border: rgba(226, 179, 179, 0.836);
    border-radius: 30px;
    border-style: solid;
}

.logo, .beginNow, h3{
    text-align: center;
    color: rgba(216, 33, 33, 0.836);
    font-size: 50pt;
    font-family:'Hammersmith One', sans-serif;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: stretch;  
}
a{
    text-decoration: none;
}

.genre a:hover, #hover:hover {
    -webkit-box-shadow: -3px 14px 16px 3px rgba(79,255,156,0.72); 
box-shadow: -3px 14px 16px 3px rgba(79,255,156,0.72);
border-radius: 4px;
}

.active{
    list-style: none;
    color: rgba(216, 33, 33, 0.836);
    font-size: 40pt;
    display: flex;
    margin: 24px;
    font-weight: bolder;
    font-family: 'Hammersmith One', sans-serif;
}

.begin{
    list-style: none;
    color: black;
    font-size: 40pt;
    display: flex;
    margin: 20px;
    font-family: 'Hammersmith One', sans-serif;
}

.origin, .meetTeam{
    border: rgba(216, 33, 33, 0.836);
    border-style: solid;
    border-radius: 30px;
    padding: 40px;
    margin-top: 40px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}
.meetTeam{
    margin-bottom: 40px;
}
.originBody{
    font-size: 18pt;
}

.originBody, .meetTeamOpen {
    text-align: center;
}
#welcome, #meetUs{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 40pt;
    font-weight: bolder;
}
h3{
    font-style: italic;
    color: rgba(216, 33, 33, 0.836);
}

.linkedIn{
    text-decoration: none;
}

.profile{
    border:  rgba(216, 33, 33, 0.836);
    background-color: red;
    border-radius: 30px;
    border-style: solid;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20pt;


}

#accordion section p {
    display: none;
    text-align: center;
    font-size: 15pt;
}

#accordion section img { 
    display: none;
    align-items: center;
    margin-left: 30%;
}

#accordion section a {
    text-align:center;
    color:black;
    text-decoration: none;
    padding: 4px;
}

.profile:hover {
    -webkit-box-shadow: -6px 14px 16px 3px rgba(79,255,156,0.72); 
box-shadow: -6px 14px 16px 3px rgba(79,255,156,0.72);
}

#accordion section:target img{
    display: block;
    align-items: center;
}
#accordion section:target p {
    display: block;
    text-align: center;
}

.movie-details {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.hidden {
    display: none;
}

.logo {
    margin-top: 40px;
}

.logo > img {
    width: 400px;
}

.genre {
    margin-top: 0px;
    line-height: 2;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
